
<div class="row">
    <div class="col d-flex justify-content-center">
        <h2 class="title animate__animated animate__fadeIn">
            NewShore Air
        </h2>
    </div>
</div>

<div class="container">
    <app-input-origin-destination 
                class="animate__animated animate__fadeIn"
                *ngIf="journey == undefined" 
                (journeyComplete)="journey = $event">
    </app-input-origin-destination>


    <app-result 
                class="animate__animated animate__fadeIn"
                *ngIf="journey != undefined" 
                [journey]="journey" 
                (goBack)="goBack($event)">
    </app-result>
</div>